*{
    margin: 0%;
    padding: 0%;
    /* background: rgb(2,0,36);
    background: linear-gradient(61deg, rgba(2,0,36,1) 0%, rgba(17,238,179,1) 50%, rgba(0,212,255,1) 100%);; */
}





/* fnjsfnsl;afn;lf */

nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    

    top: 0;
    width: 100%;
   
    font-family: "Nunito Sans", serif;
    font-weight: bold;
    font-weight: 900;
    font-size: larger;
}

nav ul {
    width: 10 ;
    padding-top: 10px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;

}


nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
   /* background-color: rgb(252, 250, 249);*/
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);

}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.dropdown{
    position: relative;


}
.dropdown-content{
    position: fixed;
    top: 0;
    right: 0;
    height: 30vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-end;
   
    justify-content: flex-end;
}
.dropdown-content p{
    font-family: "Nunito Sans";
    font-weight: lighter;
}
.dropdown:hover .dropdown-content {
    padding-top: 50px;
    padding-left: 15px;
    font-family: "Nunito Sans",sans-serif;
    font-weight: lighter;
    
    display: block; /* Show on hover */
  }

.sidebar li{
    width: 100%;

}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
/*  lfha;ohfao;j; */




















.gallery{
    display: grid;
   
    top: 7vh;
    padding-top: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 500px 500px 500px 500px 500px;
    background: rgb(2,0,36);
background: linear-gradient(61deg, rgba(2,0,36,1) 0%, rgba(17,238,179,1) 50%, rgba(0,212,255,1) 100%);
}



 .first-img{
    
    grid-column: span 3;
    padding-top: 25px;
    position: relative;
    text-align: center;
    place-self: center;   
    
}
.first-img h1{
    display: none;
  position: absolute; /* Positions the text on top of the image */
  bottom: 10px; /* Adjusts the position of the text */
  color: white; /* Text color */
   /* Text background color (optional) */
   text-align: center;
   font-size: 3rem;
   
  padding: 5px;
}
.first-img:hover  h1{
    display: block;
    align-items: center;
   
}
.first-img img{
    width: 100%;
    transition: transform 0.5s ease-in-out; 
    border: solid 5px rgb(1, 82, 71); 
    border-radius: 25px;
}

.first-img img:hover{
    transform: scale(1.1);
    position: relative;
    
}





























.s1{
    grid-column: span 1;
    padding: 50px 10px 10px 20px ;
     position: relative; 
}

.s1 img{
    transition: transform 0.3s ease-in-out; 
    border: solid 5px rgb(1, 82, 71); 
    border-radius: 25px;
    height: 400px;
    filter: brightness(80%);
}
.s1 img:hover{
    transform: scale(1.1);
    
}






.s2{
    grid-column: span 2;
    padding: 50px 10px 10px 20px ;
     position: relative; 
}

.s2 img{
    transition: transform 0.3s ease-in-out; 
    border: solid 5px rgb(1, 82, 71); 
    border-radius: 25px;
    height: 400px;
    width: 100%;
}
.s2 img:hover{
    transform: scale(1.1);
}




















.s3{
    grid-column: span 2;
    padding: 50px 10px 10px 20px ;

}
.s3 img{
    border-radius: 25px;
    width: 100%;
    transition: transform 0.3s ease-in-out; 
    border: solid 5px rgb(1, 82, 71); 
    height: 400px;
}
.s3 img:hover{
    transform: scale(1.1);
}
.s4{
    grid-column: span 1;
    padding: 50px 10px 10px 20px ;

}
.s4 img{
    border-radius: 25px;
    width: 100%;
    transition: transform 0.3s ease-in-out; 
    border: solid 5px rgb(1, 82, 71); 
    height: 400px;
}
.s4 img:hover{
    transform: scale(1.1);
}
.s5{
    grid-column: span 1;
    padding: 50px 10px 10px 20px ;

}
.s5 img{
    border-radius: 25px;
    width: 100%;
    height: 400px;
    transition: transform 0.3s ease-in-out; 
    border: solid 5px rgb(1, 82, 71); 
}
.s5 img:hover{
    transform: scale(1.1);
}
.s6{
    grid-column: span 2;
    padding: 50px 10px 10px 20px ;

}
.s6 img{
    border-radius: 25px;
    width: 100%;
    height: 400px;
    transition: transform 0.3s ease-in-out; 
    border: solid 5px rgb(1, 82, 71); 
}
.s6 img:hover{
    transform: scale(1.1);
}
.s7{
    grid-column: span 2;
    padding: 50px 10px 10px 20px ;
}
.s7 img{
    border-radius: 25px;
    transition: transform 0.3s ease-in-out; 
    border: solid 5px rgb(1, 82, 71); 
    width: 100%;
    height: 400px;
}
.s7 img:hover{
    transform: scale(1.1);
}

.s8{
    grid-column: span 1;
    padding: 50px 10px 10px 20px ;
}
.s8 img{
    border-radius: 25px;
    width: 100%;
    transition: transform 0.3s ease-in-out; 
    border: solid 5px rgb(1, 82, 71); 
    height: 400px;
}
.s8 img:hover{
    transform: scale(1.1);
}
.s9{
    grid-column: span 1;
    padding: 50px 10px 10px 20px ;
}
.s9 img{
    border-radius: 25px;
    width: 100%;
    height: 400px;
    transition: transform 0.3s ease-in-out; 
    border: solid 5px rgb(1, 82, 71); 
}
.s9 img:hover{
    transform: scale(1.1);
}
.s10{
    grid-column: span 2;
    padding: 50px 10px 10px 20px ;
    

}
.s10 img{
    border-radius: 25px;
    width: 100%;
    height: 400px;
    transition: transform 0.3s ease-in-out; 
    border: solid 5px rgb(1, 82, 71); 
}
.s10 img:hover{
    transform: scale(1.1);
}
.s11{
    grid-column: span 2;
    padding: 50px 10px 10px 20px ;
  

}
.s11 img{
    border-radius: 25px;
    width: 100%;
    height: 400px;
    transition: transform 0.3s ease-in-out; 
    border: solid 5px rgb(1, 82, 71); 
}
.s11 img:hover{
    transform: scale(1.1);
}
.s12{
    grid-column: span 1;
    padding: 50px 10px 10px 20px ;
   
}
.s12 img{
    border-radius: 25px;
    width: 100%;
    height: 400px;
    transition: transform 0.3s ease-in-out; 
    border: solid 5px rgb(1, 82, 71); 
}
.s12 img:hover{
    transform: scale(1.1);
}
.s13{
    grid-column: span 3;
    place-self: center;
    padding: 50px 10px 10px 20px ;

}
.s13 img{
    border-radius: 25px;
    width: 100%;
    height: 400px;
    transition: transform 0.3s ease-in-out; 
    border: solid 5px rgb(1, 82, 71); 
}
.s13 img:hover{
    transform: scale(1.1);
}


.s14{
    grid-column: span 2;
    padding: 50px 10px 10px 20px ;
    

}
.s14 img{
    border-radius: 25px;
    width: 100%;
    height: 400px;
    transition: transform 0.3s ease-in-out; 
    border: solid 5px rgb(1, 82, 71); 
}
.s14 img:hover{
    transform: scale(1.1);
}
.footer{
    display: flex;
    align-items: center;
    color: white;
}